{% extends "base/datatable.html" %}
{% block title %} Listado de meseros {% endblock %}
{% block table_title %} Lista de meseros {% endblock %}
{% block table_heads %}
    <th>Nombre</th>
    <th>Primer Apellido</th>
    <th>Segundo Apellido</th>
    <th>Email</th>
    <th>Acciones</th>
{% endblock %}


{% block table_body %}
    {% for waiter in waiter_list %}
        <tr>
            <td>{{ waiter.first_name }}</td>
            <td>{{ waiter.last_name }}</td>
            <td>{{ waiter.last_name2 }}</td>
            <td>{{ waiter.email }}</td>
            <th>
                <div class="btn-group">
                    <a href="{% url "app:waiter_update" waiter.id %}" class="btn btn-success">Editar</a>
                    <a href="{% url "app:waiter_delete" waiter.id %}" class="btn btn-danger">Borrar</a>
                </div>
            </th>
        </tr>
    {% endfor %}
{% endblock %}