{% extends "base/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load add_attr %}
{% block content %}
    <div class="container py-5">
        <div class="row py-1">
            <div class="col-lg-12 mx-auto">
                <div class="card rounded shadow border-0">
                    <div class="card-body p-5 bg-white rounded">
                        <form method="POST" enctype="multipart/form-data"
                              action="{% block form_action %} {% endblock %}">
                            <!-- Security token -->
                            {% csrf_token %}
                            {% block form_content %}
                                <div class="row">
                                    {% for field in form %}
                                        <div class="mx-auto">
                                            <div class="col-7 mx-auto">
                                                {{ field.label_tag }}
                                                {{ field|add_attr:"class:form-control" }}
                                            </div>
                                        </div>
                                    {% endfor %}

                                    <div class="text-center">
                                        <input type="submit" name="submit" class="btn btn-success btn-md"
                                               value="Enviar">
                                        <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-primary" tabindex="-1"
                                           role="button">Regresar</a>
                                    </div>
                                </div>
                            {% endblock %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}