{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{% static "assets/css/bootstrap.min.css" %}" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static "assets/css/bootstrap.css" %}"/>
    <link rel="stylesheet" href="{% static "assets/css/dataTables.bootstrap4.min.css" %}"/>


    {% block custom_head %}
        {#Custom setting in head#}
    {% endblock %}
    <style>
        body {
            background: url({% static 'assets/imgs/restaurant.jpg' %}) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>

    <meta charset="UTF-8">
    <title>{% block title %} Rincon del sabor {% endblock %}</title>


</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url "app:index" %}">Rincon del sabor</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{% url "app:waiter_list" %}" id="navbarDropdownMenuLink"
                       role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Waiters
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url "app:waiter_list" %}">Listado de meseros</a></li>
                        <li><a class="dropdown-item" href="{% url "app:waiter_new" %}">Agregar mesero </a></li>
                    </ul>
                </li>
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{% url "app:client_list" %}" id="navbarDropdownMenuLink"
                       role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Clients
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url "app:client_list" %}">Listado de clientes</a></li>
                        <li><a class="dropdown-item" href="{% url "app:client_new" %}">Agregar cliente</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{% url "app:table_list" %}" id="navbarDropdownMenuLink"
                       role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Tables
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url "app:table_list" %}">Listado de mesas</a></li>
                        <li><a class="dropdown-item" href="{% url "app:table_new" %}">Agregar mesa</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{% url "app:p_type_list" %}" id="navbarDropdownMenuLink"
                       role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Products Types
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url "app:p_type_list" %}">Listado de T. de Productos</a>
                        </li>
                        <li><a class="dropdown-item" href="{% url "app:p_type_new" %}">Agregar T. de Productos</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{% url "app:product_list" %}" id="navbarDropdownMenuLink"
                       role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Products
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url "app:product_list" %}">Listado de Productos</a></li>
                        <li><a class="dropdown-item" href="{% url "app:product_new" %}">Agregar Productos</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{% url "app:bill_list" %}" id="navbarDropdownMenuLink"
                       role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Bills
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url "app:bill_list" %}">Listado de facturas</a></li>
                        <li><a class="dropdown-item" href="{% url "app:bill_new" %}">Agregar facturas</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{% url "app:order_list" %}" id="navbarDropdownMenuLink"
                       role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Orders
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url "app:order_list" %}">Listado de ordenes</a></li>
                        <li><a class="dropdown-item" href="{% url "app:order_new" %}">Agregar orden</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</nav>
{% block content %}
    {#Custom content#}
{% endblock %}

{% block custom_js %}
    {#Custom scripts#}
{% endblock %}


<script src="{% static "assets/js/bootstrap.bundle.js" %}"></script>
<script src="{% static "assets/js/jquery-1.12.4.js" %}"></script>
<script src="{% static "assets/js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "assets/js/dataTables.bootstrap4.min.js" %}"></script>
<script>
    $(document).ready(function () {
        $('.table').DataTable({
            "pageLength": 25
        });
    });
</script>

</body>
</html>