{% extends "base/base.html" %}
{% load static %}

{% block title %} Base data table {% endblock %}

{% block content %}
    <div class="container py-0">
        <div class="row py-5">
            <div class="col-lg-12 mx-auto">
                <div class="card rounded shadow border-0">
                    <div class="card-body p-5 bg-white rounded">
                        <div class="container px-3">
                            <h3 class="text-center pt-2">{% block table_title %} Titulo {% endblock %}</h3>
                        </div>
                        <div class="table-responsive">
                            <table id="example" style="width:100%"
                                   class="table table-striped table-bordered text-center">
                                <thead>
                                <tr>
                                    {% block table_heads %}
                                        <th>heads</th>
                                    {% endblock %}
                                </tr>
                                </thead>
                                <tbody>
                                {% block table_body %}
                                    <tr>
                                        <td>valor</td>
                                    </tr>
                                {% endblock %}
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    {% block after-table %}
    {% endblock %}
{% endblock %}


