{% extends 'base/base.html' %}
{% block content %}
    <div class="bg-light m-5" style="border-radius: 30px">
        <h1 class="text-center text-black mx-auto p-4">
            Sitio web desarrollado para el curso de Django RestFramework - CAR IV 2022
        </h1>

        <ul class="list-group text-center p-5">
            <h2>
                <li class="">Enlaces de acciones CRUD para cada modelo en el navbar.</li>
            </h2>
            <h2>
                <li class="">Click <a href="http://localhost:8000/api/">Aqui</a> para acceder a links de la API</li>
            </h2>
        </ul>

    </div>

{% endblock %}