{% extends "base/datatable.html" %}
{% load humanize %}
{% block title %} Listado de ordenes {% endblock %}
{% block table_title %} Lista de ordenes {% endblock %}
{% block table_heads %}
    <th>Producto</th>
    <th>Precio</th>
    <th>cantidad</th>
    <th>Total</th>
    <th>Mesa</th>
    <th>Factura asociada</th>
    <th>Fecha</th>
    <th>Acciones</th>
{% endblock %}

{% block table_body %}
    {% for order in orders_list %}
        <tr>
            <td>{{ order.product }}</td>
            <td>$ {{ order.product.price | intcomma }} COP</td>
            <td>{{ order.count }}</td>
            <td>$ {{ order.get_sub_total | intcomma }} COP</td>
            <td>{{ order.table_id }}</td>
            <td>{{ order.bill_id }}</td>
            <td>{{ order.order_date }}</td>
            <th>
                <div class="btn-group">
                    <a href="{% url "app:order_update" order.id %}" class="btn btn-success">Editar</a>
                    <a href="{% url "app:order_delete" order.id %}" class="btn btn-danger">Borrar</a>
                </div>
            </th>
        </tr>
    {% endfor %}
{% endblock %}