{% extends "base/datatable.html" %}
{% block title %} Listado de mesas {% endblock %}
{% block table_title %} Lista de mesas {% endblock %}
{% block table_heads %}
    <th># de mesa</th>
    <th>Ubicacion</th>
    <th>Acciones</th>
{% endblock %}

{% block table_body %}
    {% for table in table_list %}
        <tr>
            <td>{{ table.numb_clients }}</td>
            <td>{{ table.location }}</td>
            <th>
                <div class="btn-group">
                    <a href="{% url "app:table_update" table.id %}" class="btn btn-success">Editar</a>
                    <a href="{% url "app:table_delete" table.id %}" class="btn btn-danger">Borrar</a>
                </div>
            </th>
        </tr>
    {% endfor %}
{% endblock %}