{% extends "base/datatable.html" %}
{% block title %} Listado de tipos de productos {% endblock %}
{% block table_title %} Lista de tipos de productos {% endblock %}
{% block table_heads %}
    <th>Tipo</th>
    <th>Detalles</th>
    <th>Acciones</th>
{% endblock %}

{% block table_body %}
    {% for p_type in product_type_list %}
        <tr>
            <td>{{ p_type.type }}</td>
            <td>{{ p_type.detail }}</td>
            <th>
                <div class="btn-group">
                    <a href="{% url "app:p_type_update" p_type.id %}" class="btn btn-success">Editar</a>
                    <a href="{% url "app:p_type_delete" p_type.id %}" class="btn btn-danger">Borrar</a>
                </div>
            </th>
        </tr>
    {% endfor %}
{% endblock %}