{% extends "base/datatable.html" %}
{% block title %} Listado de clients {% endblock %}
{% block table_title %} Lista de clientes {% endblock %}
{% block table_heads %}
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Observaciones</th>
    <th>Acciones</th>
{% endblock %}

{% block table_body %}
    {% for cliente in clients_list %}
        <tr>
            <td>{{ cliente.first_name }}</td>
            <td>{{ cliente.last_name }}</td>
            <td>{{ cliente.observations }}</td>
            <th>
                <div class="btn-group">
                    <a href="{% url "app:client_update" cliente.id %}" class="btn btn-success">Editar</a>
                    <a href="{% url "app:client_delete" cliente.id %}" class="btn btn-danger">Borrar</a>
                </div>
            </th>
        </tr>
    {% endfor %}
{% endblock %}