{% extends "base/datatable.html" %}
{% block title %} Listado de facturas {% endblock %}
{% block table_title %} Lista de facturas {% endblock %}
{% block table_heads %}
    <th>Cliente</th>
    <th>Mesero</th>
    <th>Fecha</th>
    <th>Acciones</th>
{% endblock %}



{% block table_body %}

    {% for bill in bills_list %}

        <tr>
            <td>{{ bill.client_id }}</td>
            <td>{{ bill.waiter_id }}</td>
            <td>{{ bill.bill_date }}</td>
            <th>
                <div class="btn-group">
                    <a href="{% url "app:bill_detail" bill.id %}" class="btn btn-success">Detalles</a>
                    <a href="{% url "app:bill_update" bill.id %}" class="btn btn-success">Editar</a>
                    <a href="{% url "app:bill_delete" bill.id %}" class="btn btn-danger">Borrar</a>
                </div>
            </th>
        </tr>

    {% endfor %}

{% endblock %}
