{% extends "base/datatable.html" %}
{% block title %} Listado de  productos {% endblock %}
{% block table_title %} Lista de productos {% endblock %}
{% block table_heads %}
    <th>Nombre</th>
    <th>Precio</th>
    <th>Tipo</th>
    <th>Acciones</th>
{% endblock %}

{% block table_body %}
    {% for product in product_list %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.type }}</td>
            <th>
                <div class="btn-group">
                    <a href="{% url "app:product_update" product.id %}" class="btn btn-success">Editar</a>
                    <a href="{% url "app:product_delete" product.id %}" class="btn btn-danger">Borrar</a>
                </div>
            </th>
        </tr>
    {% endfor %}
{% endblock %}